.jumbotron {
  background-color: yellow !important;
  color: black;
  margin-top: 50px;
}

p {
  color: black;
}

.container {
  color: black;

  padding: 10px 13px 10px 13px;
}

.card-bici {
  flex: 1 150px;

  margin-top: 20px;
}

.btn:hover {
  background-color: rgb(8, 12, 248);
  box-shadow: 0 0 5px rgb(8, 12, 248), 0 0 25px rgb(8, 12, 248),
    0 0 50px rgb(8, 12, 248), 0 0 200px rgb(8, 12, 248);
  border-color: black;
}
.btn {
  background-color: rgb(4, 30, 51);
  color: springgreen;
  text-transform: uppercase;
  width: 100%;
}

.btn-reserva {
  width: 100%;
}

.row {
  color: blue;
}

.footer-addres-icon {
  padding-right: 10px;
}

body > footer {
  padding: 10px 10px 0 10px;
  background-color: yellow;
  color: black;
  margin-bottom: 0px;
  margin-top: 30px;
}
