.jumbotron {
  background-color: #fffa20 !important;
  color: black;
  margin-top: 50px;
  margin-top: 50px;
  margin-bottom: 0px;
}

body > footer {
  padding: 10px 10px 0 10px;
  background-color: #fffa20;
  color: black;
  margin-top: 30px;
  margin-bottom: 0px;
}

.card-bici {
  flex: 1 150px;
  margin-top: 20px;
  margin-bottom: 0px;
}

.btn-reserva {
  width: 100%;
  border-radius: 0px;
}

.footer-addres-icon {
  padding-right: 10px;
}

.tab-content {
  padding-top: 10px;
}

/*# sourceMappingURL=styles.css.map */
