//@yellow: #edfb05

// .jumbotron{

//  background-color: @yellow !important;
//color: black;
//margin-top: 50px;
//};

//body > footer {
//padding: 10px 10px 0 10px;
//background-color: @yellow;
//color: black;
//margin-bottom: 0px;
//margin-top: 30px;
//}

//.card-bici {
//flex: 1 150px;
//margin-top: 20px;
//}

//.btn-reserva {
//width: 100%;
// border-radius: 0px;
//}

//.footer-addres-icon {
//padding-right: 10px;
//}

//.tab-content {
// padding-top: 10px;
//}
