$yellow: #fff000;

@mixin margenes($top, $bottom) {
  margin-top: $top;
  margin-bottom: $bottom;
}

.jumbotron {
  background-color: $yellow !important;
  color: black;
  margin-top: 50px;
  @include margenes(50px, 0px);
}

body > footer {
  padding: 10px 10px 0 10px;
  background-color: $yellow;
  color: black;
  @include margenes(30px, 0px);
}

.card-bici {
  flex: 1 150px;

  @include margenes(20px, 0px);
}

.btn-reserva {
  width: 100%;
  border-radius: 0px;
}

.footer-addres-icon {
  padding-right: 10px;
}

.tab-content {
  padding-top: 10px;
}
